{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Fornecedores - Detalhes {% endblock %}</title>
</head>

<body>
    {% block body %}
    {% include "supplier-base.html" %}

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Nome do fornecedor: {{supplier.fornecedor_nome}} </h1>
                <h2>Empresa: {{supplier.fornecedor_nome_empresa}} </h2>
                <h3>E-mail: {{supplier.fornecedor_email}} </h3>
                <h3>Endereço: {{supplier.fornecedor_endereco}} </h3>
                <h3>Cidade: {{supplier.fornecedor_cidade}} </h3>
                <h3>País: {{supplier.fornecedor_pais}} </h3>
                <h4>Comentários adicionais: {{supplier.fornecedor_comentarios}} </h4>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>

</html>