.product-container-header {
    display: flex;
    margin: 0 1rem 0 1rem;
    /* padding: 1rem; */
    border: 2px solid black;
}

.product-container {
    display: flex;
    /* topo | direita | inferior | esquerda */
    margin: 0 1rem 1rem 1rem;
    border: 2px solid black;
}

.product-row {
    flex: 1;
    padding: 1rem;
    border-right: 2px solid black;
    text-align: center;
}

/* .product-row:first-child {
    margin-right: 20px;  
}  */