.product-list {
    border: 1px solid black;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1rem;
}

.product-list-details {
    float: right;
}

.product-list-details{
    width: 150px;
}

.product-list-details a {
    margin: 4px;
}
