<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Fornecedores {% endblock %}</title>
</head>
    

    <nav class="navbar nav-link navbar-supplier">
        <a href="{% url 'suppliers:suppliers_list' %}" class="navbar-brand">Fornecedores</a>
        <div class="navbar">
            <a href="{% url 'suppliers:supplier_add' %}" class="nav-item nav-link">Adicionar fornecedor</a>
        </div>
    </nav>

    <br><br>
    {% block body %}
    {% endblock %}
</body>

</html>