{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Produtos {% endblock %}</title>
</head>
<body>

    {% block body %}
    {% include "product-base.html" %}

    <div class="product-container-header">
        <div class="product-row">Produtos</div>
        <div class="product-row">Fornecedores</div>
        <div class="product-row">Ações</div>
    </div>

    {% for product, suppliers in data %}
        <div class="product-container">
            
            
            <div class="product-row">
                {{product.produto_nome}} -- {{product.produto_tipo}} -- {{product.produto_preco}} -- {{product.produto_quantidade}}
            </div>
            <div class="product-row">
                {% for supplier in suppliers %}
                    Fornecedor: {{supplier.fornecedor_nome}} {{supplier.fornecedor_cidade}} {{supplier.fornecedor_pais}} <br>   
                {% endfor %}
            </div>

            <div class="product-row">
                <a href="{% url 'products:product_details' product.id %}" class="btn btn-success btn-rounded">Detalhes</a>
                {% if user.profile.get_usuario_status_display == "Supervisor" %}
                    <a href="{% url 'products:product_update' product.id %}" class="btn btn-info btn-rounded">Atualizar</a>
                    <a href="{% url 'products:product_remove' product.id %}" class="btn btn-danger btn-rounded">Remover</a>
                {% endif %} 
            </div>

        </div>
    {% endfor %}


    {% if user.is_authenticated %}
        <p>ola</p>
        {{ user.profile.status  }}
    {% endif %}

    {% endblock %}
</body>
</html>